@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');
html, body {
    scrollbar-width: thin;
    color: white;
    font-weight: lighter;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
.intro-image{
img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
}
.content{
    width: 100%;
    display: flex;
    justify-content: center;
}
.socials{
div{
    margin: 1em;
    font-size: 36pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    img{
        width: 150px;
        margin-right: 0.25em;
    }
    h1{
    font-family: 'Indie Flower', cursive;
    margin: 0;
    font-size: 34pt;
    }
}
}
canvas {
    opacity: 0.3;
    position: absolute;
}
hr{
    opacity: 0.3;
}